html { margin: 0; overflow: hidden; }
body { font-family: proxima-nova-extra-condensed; font-size: 18px; }
header { 
            background: transparent url(../img/nav-bg.png) repeat-x; 
            height: 60px; 
            margin-bottom: 0; 
            -webkit-font-smoothing: antialiased;
            overflow: visible;
            width: 100%; 
            margin: 0 auto; 
            position: fixed;
            z-index: 500;
          }
        header h2 a, .logo a { 
            display: block; 
            margin: 0;
            background: url(../img/logo.png) no-repeat; 
            text-indent: -999em; 
            width: 192px; 
            height: 71px; 
            float: left;
            z-index: 500;
            margin: -20px 0 0 10px;
        }
        header h3 a,header h3 a:hover { display: block; float: left;  font: 400 32px/1 proxima-nova,sans-serif; color: #fff; text-decoration: none; }
        header h1 { display: block; float: left; line-height: 1; color: #fff; font-weight: 700; font-size: 32px; padding: 0 0 0 25px; margin: 0 0 0 25px; border-left: 1px solid #999; }

#map { 
    position: absolute;
    top: 50px;
    right: 0;
    left: 0; 
    bottom: 0;
    z-index: 1;
}
.wax-legends { bottom: 15px; right: 10px; left: auto; }
.wax-legends .wax-legend {
    width: 200px;
    max-width: 300px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.5);
       -moz-box-shadow: 0 1px 10px rgba(0,0,0,.5);
            box-shadow: 0 1px 10px rgba(0,0,0,.5);
    background: rgba(255,255,255,.9);
    color: #333;
}
.wax-legend .explainer { font: normal 14px/1.2 proxima-nova,sans-serif; }


.wax-tooltip {
    display: none;
    z-index:999999;
    position:absolute;
    background: rgba(255,255,255,.9);
    color:#333;
    padding:10px;
    max-width:300px;
    opacity:1;
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.5);
       -moz-box-shadow: 0 1px 10px rgba(0,0,0,.5);
            box-shadow: 0 1px 10px rgba(0,0,0,.5);
}
.wax-tooltip p { margin: 0; }
.wax-tooltip .label { font-weight: bold; }
.wax-tooltip .num { text-align: right; clear: both; padding: 0 5px; }
.wax-tooltip  td { border-top: 1px solid #ddd; padding: 3px 0; font-size: 16px; }
.wax-tooltip h4 { font-size: 1.2em; font-weight: 700; padding: 0 0 5px; margin: 0; }
a.wax-fullscreen { display: none; }
a.zoomer { 
    font-family: proxima-nova,sans-serif;
    top: 10px;
    font-weight: 400; 
    font-size: 1.5em; 
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
a.zoomer.zoomout { line-height: 20px; }
a.zoomer:hover { background: rgba(0,0,0,1); }


div.wax-attribution { font-size: 14px; }

ul.maps {
    z-index:600;
    position:absolute;
    top: 0;
    right: 0;
    color:#333;
    padding: 0; 
    background: rgba(255,255,255,.1);
    margin: 0;
    border-left: 1px solid #333;
}

ul.maps li { float: left; margin: 0; }
ul.maps li:first { border-right: 1px solid #333; }

ul.maps li a {
    color: #fff;
    font-weight: bold;
    line-height: 50px; 
    display: block;
    text-decoration: none;
    padding: 0 10px;
    background: transparent;
}

ul.maps li a.active { background: #d8472b; position: relative; }
ul.maps li a.active:after { content: " "; display: block; width: 10px; height: 10px; background: #d8472b; position: absolute; left: 50%; bottom: -5px; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); }
